Repository ls1mardyn/ls1-mardyn, pull requests merged in 2018-12, with the labels that each got.

#32 Standalone Pipeline
  Jenkinsfile
  validation/validationRun/validationRun.py
Labels: jenkins

#38 Add libs to export source script and test it regularly in ci
  Jenkinsfile
  export-src.sh
Labels: bug, jenkins

#36 Fp-model precise for all icc configurations
  makefile/cfg/common_icc.mk
Labels: jenkins

#35 Always record results
  Jenkinsfile
Labels: jenkins

#31 Reintroduced CavityEnsemble/Writer functionality
  doc/Plugins_Summary.dox
  examples/general-plugins/CavityWriter/CavityWriterTest.xml
  examples/general-plugins/CavityWriter/CavityWriterTestDrop.png
  src/Simulation.cpp
  src/Simulation.h
  src/ensemble/CavityEnsemble.cpp
  src/ensemble/CavityEnsemble.h
  src/io/CavityWriter.cpp
  src/io/CavityWriter.h
  src/io/FlopRateWriter.cpp
  src/io/ResultWriter.cpp
  src/plugins/Mirror.h
  src/plugins/MirrorSystem.h
Labels: enhancement
